<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>List of Objectives</h1>
  <table>
    <% for (let ii = 0; ii < objectives.length; ii++){ %>
      <tr>
        <td><a href="/edit/<%= objectives[ii].id %>"><%= objectives[ii].id %></a></td>
        <td><%= objectives[ii].question %></td>
        <td><%= objectives[ii].answer %></td>
      </tr>
    <% } %>
  </table>
</body>
</html>