<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Edit an Objective: <%= objective.id %></h1>
  <form>
    <label for="question">Question</label>
    <textarea id="question" name="question" value="<%= objective.question %>"></textarea>

    <label for="answer">Answer</label>
    <textarea id="answer" name="answer">
    <input type="submit" value="Save"/>
  </form>
</body>
</html>