<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Edit an Objective: <%= objective.id %></h1>
  <form>
    <label for="question">Question</label><br/>
    <textarea id="question" name="question" rows="10" cols="60"><%= objective.question %></textarea>
<br/>
    <label for="answer">Answer</label><br/>
    <textarea id="answer" name="answer" rows="10" cols="60"><%= objective.answer %></textarea>
    <br/>
    <input type="submit" value="Save"/>
  </form>
</body>
</html>